.landing{
    background-image: url(assets/pic6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    
}

#more {display: none;}
.contact{
    background-color: rgb(177, 176, 176);
    padding-top: 1%;


}
.header1{
font-style: serif;
font-size: 30px;
}
.img1{
    height: 50px;
}
.img2{
    height: 50px;
    padding-left: 5%;
}
.col2{
    padding-left: 20%;
}
.img3{
    height: 50px;
    padding-left: 10%;
}
.col3{
    padding-left: 35%;
    
}
.col4{
    padding-left: 15%;
    
}
.img4{
    padding-left: 10%;
    height: 50px;
}